.clickitem {
    text-align: center;
    color: #e3e1e0;
    background: #e5690a;
    margin: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 4px;
    border-style: solid;
    border-color: aliceblue;
    border-radius: 10px;

    text-shadow: 5px 8px 10px #c65285;

}

.clickitem:hover {
    background: burlywood;
}

.clickitem:active {
    transform: translateY(2px);
}

.flex-container {
    display: flex;
}

.mainInput {
    border-width: 10px;
    border-color: coral;
    border-radius: 5px;
    text-shadow: 3px 4px 6px #c65285;
    font-size: 15px;
    color: darksalmon;
    background: beige;

    padding-right: 15px;
    padding-left: 60px;
    text-align: right;
    margin: 20px;
    margin-bottom: 0px;
    margin-left: 15px;

    padding-top: 10px;
    padding-bottom: 10px;


    box-sizing: border-box;
}

.values {
    box-sizing: border-box;
    margin: 2px;
    margin-left: 15px;
    margin-top: 8px;
    margin-bottom: 5px;

    padding-left: 5px;
    padding-top: 1px;

    text-align: justify;
    color: coral;
    text-shadow: 5px 8px 10px #602844;

    position: fixed;
    display: block;
    white-space: pre;


}